ul {
    list-style-type: none;
    padding-left: 1em;
}

.hidden {
    display: none;
}

.toggle {
    cursor: pointer;
    color: blue;
    margin-left: 5px;
}

.toggle:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

input, button {
    margin: 5px 0;
}
